/* .header{
    background-image: url(../assets/cheese3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
} */
.logo{
    height: 6rem;
}
.header, #order{
    background-color: black;
}
#about,#pizza{
    background-color: burlywood;
}
#order .row{
    color: burlywood;
}
